<%- include('header') -%>
    <h1 class="heading">ToDo List</h1>
    <div class="container" id="heading">
        <h1>
            <%= listTitle %>
        </h1>

        <!-- <li>buy food</li>
                <li>cook food</li>
                <li>ear food</li> -->

        <% for (let i=0 ; i < newListItems.length; i++ ) { %>
            <div class="items">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>

                <form action="/" method="post" class="item">
                    <input type="text" name="newItem" placeholder="Enter Task!">
                    <button type="submit" name="list" value="<%= listTitle %>">+</button>
                </form>

    </div>
    <%- include('footer') -%>